<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Jul 01 2014 03:18:02 GMT+0000 (UTC) -->
<html data-wf-site="5392c19d0be5690349207370">
<head>
  <meta charset="utf-8">
  <title>Rhythm QH Sync</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/rhythmsync.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat Alternates:regular","Roboto:100,300,regular,500,700,900"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/20170.png">
  <link rel="apple-touch-icon" href="images/20170.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style content=" black " />		
</head>
<body>
	<div class="w-nav navbar " data-collapse="all " data-animation="default " data-duration="400 " data-contain="1 ">
		<div class="w-container ">
			<nav class="w-nav-menu w-clearfix navmenu " role="navigation ">
				<a class="w-nav-link navlink" href="#">SYNC NOW</a>
			</nav>
			<div>
				<a class="w-inline-block homelink " href="# "><div class="appname ">RHYTHM</div></a>
			</div>
		</div>
	</div>
	<div class="w-container ">
		<div>
			<div class="w-row bodycontainer2 ">
				<div class="w-col w-col-10 ">
					<img class="welome-banner" src="images/banner.png " alt="Rhythm Banner">
				</div>
				<div class="w-col w-col-2"><div class="login ">LOGIN</div>
				<a class="w-inline-block servicelink" href="http://jawbone.com"><img src="images/jawbone_logo.jpeg " alt="Jawbone"></a>
				<a class="w-inline-block servicelink" href="/auth/fitbit"><img src="images/fitbit_logo.jpeg " alt="Fitbit"></a>
				<a class="w-inline-block servicelink" href="http://ihealthlabs.com"><img src="images/ihealth_logo.png " alt="iHealth"></a>
				<a class="w-inline-block servicelink " href="http://withings.com"><img src="images/withings_logo.jpeg " alt="Withings"></a>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript " src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js "></script>
<script type="text/javascript " src="js/webflow.js "></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js "></script><![endif]--><script>
var a=document.getElementsByTagName("a ");
for(var i=0;i<a.length;i++) {
    if(!a[i].onclick && a[i].getAttribute("target ") != "_blank ") {
        a[i].onclick=function() {
                window.location=this.getAttribute("href ");
                return false; 
        }
    }
}
</script>
</body></html>